.row {
    display: flex; 
    justify-content: center;
    flex-flow: row wrap;
  }

  .row img {
    width: 240px;
    margin: 8px;
}

  .row button {
      margin: 8px;
  }
  body{
    background:#101010;
  }
button{
  padding:25px;
  font-size:2em;
  border-radius:25px;
  background:red;
  color:white;
}