#gameContainer {
 width: 800px;
 height: 800px;
 margin: 0 auto;
 background-color: rgba(23, 197, 75, 0.74);
 position:relative;
 overflow: hidden;
}
.player {
 width: 40px;
 height: 40px;
 background-image: url('/public/img/1.png');
 background-size: 100%;
 background-position: center;
 position:absolute;
 z-index: 2;
}
#fireBolt{
 width: 40px;
 height: 40px;
 background-image: url('/public/img/fire.png');
 background-size: 100%;
 background-position: center;
 position:absolute;
 z-index: 2;
 visibility:hidden;
}
#objet{
	width: 40px;
	height: 40px;
	background-image: url('/public/img/tenor.gif');
	background-size: 100%;
	background-position: center;
	position:absolute;
	z-index: 2;
	visibility:hidden;
   }
.manabar, .healthbar{
	position:absolute;
	border-radius: 2px;
}
.manabar::-webkit-progress-value{
	background-color:blue;
	border-radius: 25px 25px 25px 25px;
	
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.healthbar::-webkit-progress-bar{
	background-color:red;
	border-radius: 25px 25px 25px 25px;
}
.healthbar::-webkit-progress-value{
	background-color:darkgreen;
	border-radius: 25px 25px 25px 25px;
	
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.manabar::-webkit-progress-bar{
	border-radius: 25px 25px 25px 25px;
}